@import 'bootstrap/scss/bootstrap';

.b-sidebar-body{
    
    overflow-y: scroll;
    height: 50vh;
}
.v-lazy-component.v-lazy-component--loading {
    filter: blur(20px);
  }
  
  .v-lazy-component.v-lazy-component--loaded {
    filter: blur(0);
    transition: filter 1s;
  }

@import 'bootstrap/scss/bootstrap';